<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>

    <div class="jumbotron">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sint deserunt eius, et est nihil nostrum qui quod corporis reprehenderit harum officia perspiciatis, nobis deleniti explicabo earum adipisci dicta ipsa?
      </p>
    </div>
    <div>
        <!-- <table class=table>
            <thead>
              
              <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Annual Salary</th>
                <th>YoB</th>
              </tr>
            
            </thead>
            <tbody>
            
              <tr *ngFor = "let EMP of EMP">
                <td>{{EMP.code}}</td>
                <td>{{EMP.name | uppercase}}</td>
                <td>{{EMP.gender}}</td>
                <td>{{EMP.annualSalary}}</td>
                <td>{{EMP.YoB}}</td>
              </tr>
            
            </tbody>
            
            
            </table> -->
      <p *ngFor= "let item of complaints">{{item.docKey}}</p>
    </div>
  
</body>
</html>